*.pyc
*.pyo
venv
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.tmp*
*~
*.bak
run.sh
lib
pip-selfcheck.json
